/*html < HolyGrail < header,HolyGrail-body,footer
HolyGrail-body < HolyGrail-content < HolyGrail-main,HolyGrail-ads
CSS3は"//"はコメントアウトに使えません。
*/
html {
  font-size: 15px;
}
h1,h2,h3,p {
  color: #FFFFFF;
}
/*headerのdenkokenにしか使わないで！*/
h1 {
  margin: 0.5rem 0;
  font-size: 5rem;
  font-family: Raleway;
}

/*subtitleに使って（aboutなど）*/
h2 {
  font-size: 3rem;
  font-family: Raleway;
}
a {
text-decoration:none;
border-bottom:3px green dashed;
}
a:hover {
  background-color: #3CB371;
}
a:active {
  background-color: #2E8B57;
}
img {
  background-color: white;
  width: 400px;
  heigth: auto;
}
figure > a{
  border-bottom: none;
}
figure > a:hover{
  background-color: transparent;
}
figcaption {
  color: white;
}

.HolyGrail,
.HolyGrail-main,
.HolyGrail-ads {
  display: flex;
  flex-direction: column;
}

.HolyGrail {
  background: rgba(0,66,0,0.2);
  margin: 0 0;
  min-height: 100vh;
}

header {
  display: flex;
  background-image: url("../images/HeaderBackground.jpg");
  background-repeat: round no-repeat;
}
.title > p{
  margin: 5px 0;
}
.image-filter {
  width: 100%;
  background: rgba(255,255,255,0);
}

.title {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}
.menu-button {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.9;
    border-bottom: solid 3px #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button:active {
  border: none;
}

.menu-bar {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: row;
}
.top,.about,.content,.qanda,.version{
  width: 180px;
  padding: 10px 0;
  border: 1px solid #000000;
  background-color: #228B22;
  text-align: center;
  font-size: 2rem;
  font-family: Raleway;
  color: #FFF;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content{
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 900px;
  margin: 0 auto;
  background-color: #003300;
}
/*max-510px*/
.HolyGrail-main {
  margin: 0 10px;
}

.HolyGrail-ads {
  margin-left: auto;
  min-width: 150px;
  max-width: 290px;
}

footer {
  border-top: 1px groove #000000;
  text-align: right;
  text-size: 0.5rem;
  padding-right: 5rem;
  background-color: #006600;
}

.page-top-button {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
}
.twcolor {
  color: #00aced ;
}
.page-top-button:active{
  background-color: #C0C0C0;
}

@media (max-width: 900px) {
  .menu-bar {
    font-size:0;
    width: 100%;
    padding: 0 auto;
    display: block;
  }
  .top,.about,.content,.qanda,.version{
    //margin: 0;
    width: 120px;
    font-size: 1.5rem;
    display: inline-block;
  }
  img{
    width: 300px;
    height: auto;
  }
}
  @media (max-width: 750px) {
    .HolyGrail-ads,h1 {
      display: none;
    }
    h2 {
      font-size: 2rem;
    }
    .HolyGrail,.HolyGrail-body,.HolyGrail-main,.Holygrail-content{
      width: 100%;
    }
    img {
      width: 250px;
      height: auto;
    }
    .page-top-button {
      width: 30px;
      height: 30px;
    }
  }
